.mdrp__panel {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  font-size: sx(4.5);
  border-radius: sx(5);

  .wrapper {
    width: 100%;
    height: 100%;
    padding: sx(5);
    box-sizing: border-box;

    .edit {
      display: flex;
      justify-content: space-between;
    }
  }
}

// 响应式布局优化
@mixin orientation-styles($orientation) {
  @if $orientation == landscape or $orientation == portrait {
    @media (orientation: $orientation) {
      .mdrp__panel {
        @content;
      }
    }
  } @else {
    @warn "Unsupported orientation #{$orientation}. Please use 'landscape' or 'portrait'.";
  }
}

// 横屏样式
@include orientation-styles(landscape) {
  $height: calc((100vh - sx(30) - var(--status-bar-height) + sx(90)) / 2);
  max-height: calc(100vh - sx(30) - var(--status-bar-height));
  max-width: calc(100 / 90 * calc(100vh - sx(30) - var(--status-bar-height)));
  height: $height;
  width: calc(100 / 90 * #{$height}); // 保持100:90的宽高比例



  .wrapper {
    display: flex;

    .edit {
      flex-direction: column;
      align-items: flex-start;
      width: 20%;

      .time-range-l {
        text-align: center;
        word-wrap: break-word;
      }

      .time-range-p {
        display: none;
      }
    }

    .calendar-wrap {
      width: 80%;
    }
  }
}

// 竖屏样式 (移除非常规单位rpx)
@include orientation-styles(portrait) {
  --test: 0px;
  $width: calc((90vw + sx(90)) / 2);
  max-height: calc(calc(100vw - sx(15) - var(--test)) / 90 * 100);
  max-width: calc(100vw - sx(15) - var(--test));
  height: calc($width / 90 * 100);
  width: $width;

  .wrapper {
    .edit {
      align-items: center;
      height: 5%;

      .time-range-l {
        display: none;
      }
    }

    .calendar-wrap {
      height: 95%;
    }
  }
}

